[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes

[Service]
EnvironmentFile=-/opt/kubernetes/etc/kube-scheduler.conf
ExecStart=/opt/kubernetes/bin/kube-scheduler \
                             ${KUBE_LOGTOSTDERR} \
                             ${KUBE_LOG_LEVEL} \
                             ${KUBE_MASTER} \
                             ${KUBE_LEADER_ELECT}
Restart=on-failure

[Install]
WantedBy=multi-user.target
